/ptb-xl-a-large-publicly-available-electrocardiography-dataset-1.0.1
/data_ready
/data_ready_v2
/data_ready_nonsegment
/data_ready_segmentation_beats
/data_ready_segmentation_beats_v2
/excel_output
/image
/modelResult